.main{
    background-color: #fafafa;
    display: grid;
    grid-template-rows: 4em 3.5em 3.5em 3.5em 3.5em 3.5em 3.5em;
    grid-template-columns: 1fr 14fr;
    width: 90%;
    margin-left: 5%;
    margin-top: 1.5em;
    border: 1px solid silver;
}
.reols img {
    height: 1.2em;
    margin-top: 0.1em;
    margin-left: 0.8em;
}

.main div{
    margin-top: 0.25em;
    font-size: 1.8em;
}

.main.div:hover {
    background-color: darkslategrey;
}