.Main{
    display: grid;
    grid-template-rows: 50px 30px 60px;
    background-color: bisque;
    margin: 15px;
    border-radius: 10px;
}
.Con{
    display: grid;
    grid-template-columns: 12fr 12fr 2fr;
    padding-bottom: 3.9em;
    border-bottom: 1px solid silver;
}

.logout {
    height: 25px;
    padding: 20px 2em 0 50px;
}
.Con a {
    text-decoration: none;
    color: black;
}
.Filter{

    margin-top: 10px;
    padding: 10px;
}
.Filter input {
    margin: 1px 0 0 15px;
    padding: 5px;
    border-radius: 2px;
    border: 0;
    border-bottom: 3px solid silver;
    width: 85%;
    opacity: 70%;
}
.Last{
    padding-left: 20px;
}
.Trackers{
    padding-left: 20px;
}
.Last:hover{
    background-color: cadetblue;
    opacity: 90%;
    border-radius: 10px 0 0 0;
}
.Trackers:hover {
    background-color: cadetblue;
    opacity: 90%;
}
.Logout:hover{
    background-color: cadetblue;
    opacity: 90%;
    border-radius: 0 10px 0 0;
}
.Filter input:focus{
    outline: none;
    border-bottom: 3px solid darkslategrey;
}
.droper{
    margin-left: 1em;
    padding: 0.3em;
}
.droper:focus{
    outline: none;
    border-bottom: 3px solid darkslategrey;
}
.sort{
    margin-left: 88%;
    margin-top: 1.3em;
    color: lightslategray;
}
.plus{
height: 1em;
    margin-left: 0.6em;
}